$primary: #2D844C;
$secondary: #FF8C62;
$white: #ffffff;
$bg1: #F9E5FA;
$accent: #FDAE49;
$bg: #EFF3F6;
$line: #FFE4DC;
$dark: #777777;
$active: #ECF4FF;
$gray: #686868;
$lightgray: #F2F2F2;
$light: #ECF4FF;