@import "./mediaquery";
@import "./variables";

.home-gis{
    padding: 1em;
    height: fit-content !important;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
    .top{
        border-radius: 5px 5px 0 0;
        background-color: white;
        box-shadow: 1px 1px 5px #60606030;
        margin-bottom: 1px;
        z-index: 99;

        .container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: fit-content;

            .vitem{
                h4 {
                    cursor: pointer;
                    padding: 10px 1em;
                    font-weight: 520;
                    font-size: small;
                    color: $primary;
                    text-align: center;
                }
                h4:hover {
                    color: $primary;
                    background-color: #feece2;
                    box-shadow: 1px 1px 5px #60606030;
                }
            }
            .vactive {
                h4 {
                  cursor: pointer;
                  padding: 10px 1em;
                  font-weight: 520;
                  font-size: small;
                  color: $primary;
                  text-align: center;
                  color: $primary;
                  background-color: #feece2;
                  box-shadow: 1px 1px 5px #60606030;
                }
            }
        }
    }
}